.booksList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.bookItem {
    position: relative;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 650px;
    height: 600px;
    margin: 30px;
    padding: 30px;
}
.bookItem_editButton {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
}
.bookItem_editButtonIcon {
    width: 25px;
    height: 25px;
}
.bookItemContent {
    display: flex;
    flex-wrap: wrap;
}
.bookItemContent_bookData {
    margin-left: 30px;
    width: 300px;
}
.bookCover {
    width: 300px;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
}
.bookCoverBlock {
    position: relative;
}
.bookCoverBlock_rating {
    position: absolute;
    left: 20px;
    top: 20px;
}
.bookCoverBlock_ratingStar {
    width: 50px;
}
.bookCoverBlock_ratingVolPositioner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookTitleLine {
    width: 100%;
    display: flex;
    justify-content: center;
}
.bookTitle {
    font-size: 30px;
    padding-left: 20px;
}
.bookRating_star {
  cursor: pointer;
  font-size: 22px;
  transition: transform 0.1s;
}
.bookRating_star:hover {
  transform: scale(1.1);
}
.bookRating_stars {
  color: gold;
}
.bookRating_starsDis {
  color: gray;
}
.addForm_container {
    position: fixed;
    z-index: 9999;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}
.addForm {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 30px;
    width: 500px;
    padding: 30px;
}
.addForm_fieldContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-count: 1;
}
.addForm_label {
    margin-right: 4px;
}
.addForm_text {
    min-width: 400px;
}
.addForm_textarea {
    height: 100px;
}
.addForm_buttonPosition {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.addForm_button {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
}
.addBookButtonPosition {
    width: 100%;
    display: flex;
    justify-content: center;
}
.addBookButton {
    padding: 10px 20px;
    font-size: 28px;
    border-radius: 30px;
}
.disabled {
    display: none;
}