.booksList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.bookItem {
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 650px;
    height: 600px;
    margin: 30px;
    padding: 30px;
}
.bookItemContent {
    display: flex;
    flex-wrap: wrap;
}
.bookItemContent_bookData {
    margin-left: 30px;
    width: 300px;
}
.bookCover {
    width: 300px;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
}
.bookTitleLine {
    width: 100%;
    display: flex;
    justify-content: center;
}
.bookTitle {
    font-size: 30px;
    padding-left: 20px;
}
.bookRating_stars {
    color: gold;
}